@tailwind base;
@tailwind components;
@tailwind utilities;

/* ~//// Fonts ////~ */

body {
  font-family: 'Avenir', sans-serif;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
  scrollbar-width: thin;
}
